.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333; /* Puedes ajustar el color de fondo según tu diseño */
  color: #fff; /* Puedes ajustar el color del texto según tu diseño */
  text-align: center;
  padding: 15px; /* Ajusta el espaciado interno según tus necesidades */
}

/* Estilos adicionales para hacer que el contenido no se solape con el pie de página */
body {
  margin-bottom: 60px; /* Ajusta el margen inferior del cuerpo para dejar espacio para el pie de página */
}
