<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard</title>

    <!-- Agrega las referencias a los estilos de Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- Header Section -->
    <header class="bg-light text-black text-center py-5">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">¡Bienvenido!</h1>
          <p class="lead">Este es tu dashboard personalizado.</p>
        </div>
        <form>
          <div class="form-group">
            <label for="nombreLocal">Nombre del local</label>
            <input
              type="text"
              class="form-control"
              id="nombreLocal"
              placeholder="Nombre del local"
            />
          </div>

          <div class="form-group">
            <label for="tipoNegocio">Tipo de negocio</label>
            <input
              type="text"
              class="form-control"
              id="tipoNegocio"
              placeholder="Ej. Restaurante, Tienda de ropa, etc."
            />
          </div>

          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input
              type="text"
              class="form-control"
              id="direccion"
              placeholder="Dirección del local"
            />
          </div>

          <div class="form-group">
            <label for="telefono">Número de teléfono</label>
            <input
              type="tel"
              class="form-control"
              id="telefono"
              placeholder="Número de teléfono"
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción del negocio</label>
            <textarea
              class="form-control"
              id="descripcion"
              rows="3"
              placeholder="Breve descripción del negocio"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="horario">Horario de atención</label>
            <input
              type="text"
              class="form-control"
              id="horario"
              placeholder="Horario de atención del local"
            />
          </div>

          <div class="form-group">
            <label for="sitioWeb">Sitio web</label>
            <input
              type="url"
              class="form-control"
              id="sitioWeb"
              placeholder="URL del sitio web"
            />
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </header>

    <!-- Main Section -->
    <div class="container text-center mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">VENTAS</h5>
              <p class="card-text">
                <span class="badge badge-primary">Venta Total: $1000</span>
                <span class="badge badge-secondary"
                  >Cantidad de Documentos: 50</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Productos</h5>
              <p class="card-text">
                <span class="badge badge-primary">Total: 25</span>
                <span class="badge badge-secondary"
                  >Tipo Documento: facturas</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rendimiento</h5>
              <p class="card-text">
                Si tienes empleados, podrías incluir métricas relacionadas con
                su rendimiento, como la eficiencia en el servicio al cliente o
                las ventas generadas por cada empleado.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Inventario Actual</h5>
              <p class="card-text">
                Una visualización del inventario actual de productos. Puedes
                destacar los productos con bajo stock o que necesitan ser
                reabastecidos.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cliente frecuente</h5>
              <p class="card-text">
                Un gráfico que muestre la cantidad de clientes frecuentes versus
                nuevos clientes. Esto puede ayudarte a entender la lealtad del
                cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Agrega la referencia al script de Bootstrap y cualquier otro script necesario -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>