<!-- Muestra mensajes de error generales -->
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<!-- Formulario -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="card border-primary text-white" style="max-width: 800px;">
      <div class="card-header bg-primary text-white">
        {{ titulo }}
      </div>
      <div class="card-body text-primary">
        <form #clienteForm="ngForm">

          <!-- Campo Nombre -->
          <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel" placeholder="Ingrese su nombre">
              <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                  Nombre es requerido
                </div>
                <div *ngIf="nombre.errors.minlength">
                  Nombre debe tener al menos 4 caracteres
                </div>
              </div>
            </div>
          </div>

          <!-- Campo Apellido -->
          <div class="form-group row">
            <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel" placeholder="Ingrese su apellido">
              <div class="invalid-feedback" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div *ngIf="apellido.errors.required">
                  Apellido es requerido
                </div>
              </div>
            </div>
          </div>

          <!-- Campo Rut -->
          <div class="form-group row">
            <label for="rut" class="col-form-label col-sm-2">Rut</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="cliente.rut" name="rut" #rut="ngModel" placeholder="Ingrese su rut">
              <div class="invalid-feedback" *ngIf="rut.invalid && (rut.dirty || rut.touched)">
                <!-- Agrega mensajes de error específicos para el campo Rut según tus necesidades -->
              </div>
            </div>
          </div>

          <!-- Campo Email -->
          <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel" placeholder="Ingrese su email">
              <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  Email es requerido
                </div>
                <div *ngIf="email.errors.email">
                  Email debe tener un formato válido
                </div>
              </div>
            </div>
          </div>

          <!-- Campo Región -->
          <div class="form-group row">
            <label for="region" class="col-form-label col-sm-2">Región</label>
            <div class="col-sm-6">
              <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width:100%;" placeholder="Selecciona una región">
                <option [ngValue]="undefined">--- Seleccionar una región ---</option>
                <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
              </select>
            </div>
          </div>

          <!-- Campo Fecha -->
          <div class="form-group row">
            <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
            <div class="col-sm-6" style="display: flex; align-items: center;">
              <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="width:90%;" placeholder="Seleccione una fecha">
              <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #miDatepicker></mat-datepicker>
            </div>
          </div>

          <!-- Botones Crear/Editar -->
          <div class="form-group row">
            <div class="col-sm-6">
              <button mat-raised-button class="btn btn-primary btn-xs" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">
                <i class="fas fa-user-plus"></i> Crear</button>
              <ng-template #elseBlock>
                <button mat-raised-button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">
                  <i class="fas fa-user-plus"></i> Editar</button>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>